Source: btftm
Section: utils
Priority: optional
Maintainer: Wei Deng <weiden@qti.qualcomm.com>
Build-Depends: 
	debhelper-compat (= 13),
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: btdiag
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qualcomm Bluetooth Diagnostic tool (Btdiag)
 Standalone Bluetooth diagnostic utility built from ftm/BtDiag_O_release.
